*.iml
.gradle
/local.properties
/gradle.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

you_file_path
C:\Users\gemb0\AndroidStudioProjects\WeatherApp\gradle.properties
